<h2>Press the button for play the video</h2>
<!-- <a href="<%= videoUrl %>" target="_blank">
    <img src="/images/play.png" alt="play button" width="100px" height="75px" />
</a> -->
<iframe src="<%= videoUrl %>" frameborder="0" marginwidth="0" 
    marginheight="0" scrolling="NO" width="70%" height="500px" allowfullscreen="">
</iframe>
